@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1919px)
	.header-title
		.web-title
			.rectangle
				display: none 
			.rectangle-two
				display: none
@media only screen and (max-width : 1200px)
	/**/
	.owl-carousel.says 
		.owl-item 
			.img-reyhan
				margin-left: 29%
				padding-bottom: 3%
    			
			.bgc
				margin-left: 28.7%
			.info-reyhan
				margin-left: 24.5%
		.owl-dots
			display: none
		.owl-nav
			left: 0%
			font-size: 25px
			text-align: center
			.owl-next, .owl-prev
				height: 35px
				width: 30px
	.owl-carousel.says .owl-item .info-reyhan
		padding: 50px
	
	.site-header
			.hamburger
				right: 20px
				top: 20px
	.navigation
		display: flex
		flex-direction: column
	.small-team-info
		.peoples-3
			display: flex
			justify-content: space-around
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	/**/
	.owl-carousel.says 
		.owl-item 
			.img-reyhan
				margin-left: 21%
				padding-bottom: 3%
    			
			.bgc
				margin-left: 20%
			.info-reyhan
				margin-left: 22.5%
	.header-title
		.web-title
			p 
				font-size: 29px
	.featured-works
		.food
			display: flex
			justify-content: space-evenly
	#my-content .about-title
		padding-top: 100px
	.sponsor
		text-align: center
		padding-top: 100px
	.small-team-info
		text-align: center
		.peoples-3
			display: flex
			flex-flow: column
	.small-team-info .peoples-1 .people-1 .foto .img .info, .small-team-info .peoples-1 .people-2 .foto .img .info, .small-team-info .peoples-2 .people-1 .foto .img .info, .small-team-info .peoples-2 .people-2 .foto .img .info, .small-team-info .peoples-3 .people-1 .foto .img .info, .small-team-info .peoples-3 .people-2 .foto .img .info
		left: 26%
/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	/**/
	.owl-carousel.says 
		.owl-item 
			.img-reyhan
				margin-left: 19%
				padding-bottom: 3%	
			.bgc
				margin-left: 17%
	.header-title
			.web-title
				p 
					font-size: 24px
	.callback
		img 
			display: none
	.small-team-info
		text-align: center
		.peoples-1 , .peoples-2 , .peoples-3
			.people-1 , .people-2
				.foto
					.info
						width: 51%
						margin-left: 20%
	.small-team-info .peoples-1 .people-1 .foto .img .info, .small-team-info .peoples-1 .people-2 .foto .img .info, .small-team-info .peoples-2 .people-1 .foto .img .info, .small-team-info .peoples-2 .people-2 .foto .img .info, .small-team-info .peoples-3 .people-1 .foto .img .info, .small-team-info .peoples-3 .people-2 .foto .img .info
		left: 7%
	#my-content .about-us .owl-carousel.about-slide
		margin: 0 auto
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/
	
	.header-title
		.web-title
			p 
				font-size: 15px
	.small-team-info
		text-align: center
		.peoples-1 , .peoples-2 , .peoples-3
			.people-1 , .people-2
				text-align: center
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

